.pl_ls{
    width: 642px;
    padding-inline: 12px;
    float: left;
}

.pl_rk{
    width: 300px;
    height: 230px;
    padding-inline: 12px;
    float: left;
    overflow: auto;
}
.pl{
    display:inline-block;
    flex: 1;
    background-color: white;
    margin:1px;
    border: 2px solid #2a292a;
    border-radius: 5px;
    text-align: center;
}

.pl_id{
    display:block;
    width: 119px;
    height: 20px;
}

.pl_skin{
    display:block;
    width: 119px;
    height: 200px;
}

.pl_2{
    display:block;
    background-color: white;
    margin:1px;
    text-align: left;
}

.pl_2_id{
    display:inline-block;
    height: 16px;
}

.pl_2_head{
    display:inline-block;
    width: 18px;
    height: 18px;   
}